Trix_Data_Staging/Get_Daily_Statement_Pools.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "ae225f5f-3e4d-3129-9302-c4b82b8b049b",
            "name" : "Set Filename",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "ef4f22fa-3579-354d-b6f8-95d4d96df983",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "ae750634-dd61-396e-bb7e-1828ae7bc0de",
            "name" : "ConvertJsonToParquet",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "ae750634-dd61-396e-bb7e-1828ae7bc0de",
            "name" : "ConvertJsonToParquet",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "35ac37d3-2641-35ad-8e78-93fbb9a49781",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "6724cf90-6d95-3865-8980-7a8d35b6a956",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 522.9018249511719,
            "y" : 469.0497131347656
          }, {
            "x" : 522.9018249511719,
            "y" : 519.0497131347656
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "7f2ee62a-6d1e-3b1b-9f6d-d9108f436265",
            "name" : "PutDataToStagingPool",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "ec9e3b90-9bf9-34cf-8cc3-03bfe8d9c54f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "7f2ee62a-6d1e-3b1b-9f6d-d9108f436265",
            "name" : "PutDataToStagingPool",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 1000000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "d5c10dd4-8275-34b6-b90b-e60aa4610390",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "1bb804a9-7446-3a29-90b0-6525f17fe96e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Validasi Jumlah Data" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "f55accf9-b0e7-38bb-8b69-354f887debc5",
            "name" : "Validasi Last Log Data",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 1000000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "f55accf9-b0e7-38bb-8b69-354f887debc5",
            "name" : "Validasi Last Log Data",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "806a9424-e242-3739-934f-c2772ee7e5f7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "sql" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "6724cf90-6d95-3865-8980-7a8d35b6a956",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "40e3530c-da72-30e5-a30a-6c28bc1156bf",
            "name" : "Backup Data To S3",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "d1e316f3-7019-3a2d-ad13-a85748a837a8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "ae225f5f-3e4d-3129-9302-c4b82b8b049b",
            "name" : "Set Filename",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "7f2ee62a-6d1e-3b1b-9f6d-d9108f436265",
            "name" : "PutDataToStagingPool",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "029cf681-05d0-3aae-a573-c94c5c0a5b56",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "6724cf90-6d95-3865-8980-7a8d35b6a956",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "id" : "a94ff5fe-e4f2-3ad0-a2c1-d2307daaf8da",
            "name" : "Daily Statement Pool S3 Telegram",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "01354daf-9e02-3941-b3df-015e69bb0fe8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "40e3530c-da72-30e5-a30a-6c28bc1156bf",
            "name" : "Backup Data To S3",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "id" : "1ad935fb-b96c-3b2c-a135-c8c16deba845",
            "name" : "Daily Statement Pool Telegram",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "b5369948-cf3d-31ce-b2db-648fe7ca4099",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "f55accf9-b0e7-38bb-8b69-354f887debc5",
            "name" : "Validasi Last Log Data",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "6724cf90-6d95-3865-8980-7a8d35b6a956",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "55a2392c-7fbc-350a-8df8-1c3a3b1d226e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "ca153205-5378-3e62-9d9f-ced8917d905c",
            "name" : "GetDataDailyStatementPool",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "d5c10dd4-8275-34b6-b90b-e60aa4610390",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "a3db2c83-1b2c-3309-a3c0-8bcef911639b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "id" : "52c82ff9-c4d9-36ab-8cb0-d7bf60e3b881",
            "name" : "Output Logs",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -432.0,
            "y" : 480.0
          }, {
            "x" : -488.0,
            "y" : 520.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "40e3530c-da72-30e5-a30a-6c28bc1156bf",
            "name" : "Backup Data To S3",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "1392bd74-b96c-3ad6-8dbc-ab8e3342bf34",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "40e3530c-da72-30e5-a30a-6c28bc1156bf",
            "name" : "Backup Data To S3",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "id" : "1ad935fb-b96c-3b2c-a135-c8c16deba845",
            "name" : "Daily Statement Pool Telegram",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "d666b664-379b-3f7f-82fe-2cbf75cf8484",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "7f2ee62a-6d1e-3b1b-9f6d-d9108f436265",
            "name" : "PutDataToStagingPool",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1061.0,
            "y" : 87.0
          }, {
            "x" : 1061.0,
            "y" : 137.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "ca153205-5378-3e62-9d9f-ced8917d905c",
            "name" : "GetDataDailyStatementPool",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "c63e438f-eee7-368e-bf9d-d08597e11269",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Retry", "Failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "ca153205-5378-3e62-9d9f-ced8917d905c",
            "name" : "GetDataDailyStatementPool",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 1000000,
          "bends" : [ {
            "x" : 1061.0,
            "y" : 297.3431396484375
          }, {
            "x" : 1061.0,
            "y" : 347.3431396484375
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "6724cf90-6d95-3865-8980-7a8d35b6a956",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "0034f182-f38a-3290-ba2d-19917661aeaa",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "6724cf90-6d95-3865-8980-7a8d35b6a956",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 517.0,
            "y" : 77.42235565185547
          }, {
            "x" : 517.0,
            "y" : 127.42235565185547
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "ae750634-dd61-396e-bb7e-1828ae7bc0de",
            "name" : "ConvertJsonToParquet",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "161b883b-100d-332c-84d1-2d55e8194cbe",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "ae750634-dd61-396e-bb7e-1828ae7bc0de",
            "name" : "ConvertJsonToParquet",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "ca153205-5378-3e62-9d9f-ced8917d905c",
            "name" : "GetDataDailyStatementPool",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "670956ec-4fb8-3c41-a9b2-83756aec0ad7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
            "id" : "d3ee8754-ce04-37c8-80b0-ba3508b2b688",
            "name" : "DailyStatementPool",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "Get Daily Statement Pool",
        "outputPorts" : [ ],
        "position" : {
          "x" : -392.0,
          "y" : 8.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "id" : "2e52512e-088a-397b-870e-6def1ee398fa",
              "name" : "Send Telegram",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "identifier" : "b127d1d5-97e7-37a6-aeb7-92338c2a6c0d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
              "id" : "9812f170-ed80-3185-b3c8-c9542f8be622",
              "name" : "Testing",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
              "id" : "52c82ff9-c4d9-36ab-8cb0-d7bf60e3b881",
              "name" : "Output Logs",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "identifier" : "d1b5962e-9e2f-3058-8fbd-d79380e9bb97",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "id" : "c4442707-d9c9-3841-9099-490ca24f1289",
              "name" : "Output Logs",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "c04d647b-be1c-3e3c-be46-f139a4d503a9",
              "id" : "7b7d6998-0355-353d-89db-6776c3471b53",
              "name" : "Daily Statement Pool",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "identifier" : "860ed89b-bdd9-36b8-ab91-d75b9323ba57",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
              "id" : "1ad935fb-b96c-3b2c-a135-c8c16deba845",
              "name" : "Daily Statement Pool Telegram",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "id" : "2e52512e-088a-397b-870e-6def1ee398fa",
              "name" : "Send Telegram",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "identifier" : "7ce5b393-8f33-3928-8328-6c8dfa214f0b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "537ad63d-f422-3f3a-8c59-7bc07e35a810",
              "id" : "5a52ad16-fc14-33f9-864d-c60c69a6fa1e",
              "name" : "Send Message",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "id" : "2e52512e-088a-397b-870e-6def1ee398fa",
              "name" : "Send Telegram",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "identifier" : "d31b733b-b2f7-3bc3-b94c-6d45e8c2fd62",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "c04d647b-be1c-3e3c-be46-f139a4d503a9",
              "id" : "5a52ad16-fc14-33f9-864d-c60c69a6fa1e",
              "name" : "Send Message",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 100000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "537ad63d-f422-3f3a-8c59-7bc07e35a810",
              "id" : "7b7d6998-0355-353d-89db-6776c3471b53",
              "name" : "Daily Statement Pool To S3",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "identifier" : "3e882b84-f015-34d6-a91e-5c2c73acadd0",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
              "id" : "a94ff5fe-e4f2-3ad0-a2c1-d2307daaf8da",
              "name" : "Daily Statement Pool S3 Telegram",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "identifier" : "1ad935fb-b96c-3b2c-a135-c8c16deba845",
            "name" : "Daily Statement Pool Telegram",
            "position" : {
              "x" : 2096.0,
              "y" : -80.0
            },
            "type" : "INPUT_PORT"
          }, {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "identifier" : "a94ff5fe-e4f2-3ad0-a2c1-d2307daaf8da",
            "name" : "Daily Statement Pool S3 Telegram",
            "position" : {
              "x" : 3008.0,
              "y" : -80.0
            },
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "Post Telegram",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "identifier" : "52c82ff9-c4d9-36ab-8cb0-d7bf60e3b881",
            "name" : "Output Logs",
            "position" : {
              "x" : 2552.0,
              "y" : 480.0
            },
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 32.0,
            "y" : 640.0
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "c04d647b-be1c-3e3c-be46-f139a4d503a9",
                "id" : "5a52ad16-fc14-33f9-864d-c60c69a6fa1e",
                "name" : "Send Message",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "c04d647b-be1c-3e3c-be46-f139a4d503a9",
              "identifier" : "7877a4bb-b036-39c4-9e11-41a3df8905d5",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "c04d647b-be1c-3e3c-be46-f139a4d503a9",
                "id" : "eef94416-cdb2-3265-af75-ae5b0d678e6a",
                "name" : "Logs Telegram Information",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "c04d647b-be1c-3e3c-be46-f139a4d503a9",
                "id" : "eef94416-cdb2-3265-af75-ae5b0d678e6a",
                "name" : "Logs Telegram Information",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "c04d647b-be1c-3e3c-be46-f139a4d503a9",
              "identifier" : "1f412adb-787f-3f0f-8122-00bc557ab27f",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "groupId" : "c04d647b-be1c-3e3c-be46-f139a4d503a9",
                "id" : "7b7d6998-0355-353d-89db-6776c3471b53",
                "name" : "Daily Statement Pool",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "identifier" : "c04d647b-be1c-3e3c-be46-f139a4d503a9",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "c04d647b-be1c-3e3c-be46-f139a4d503a9",
              "identifier" : "7b7d6998-0355-353d-89db-6776c3471b53",
              "name" : "Daily Statement Pool",
              "position" : {
                "x" : 2144.0,
                "y" : -48.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Statement Pool",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "c04d647b-be1c-3e3c-be46-f139a4d503a9",
              "identifier" : "5a52ad16-fc14-33f9-864d-c60c69a6fa1e",
              "name" : "Send Message",
              "position" : {
                "x" : 2144.0,
                "y" : 232.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 2024.0,
              "y" : 16.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.14.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "c04d647b-be1c-3e3c-be46-f139a4d503a9",
              "identifier" : "eef94416-cdb2-3265-af75-ae5b0d678e6a",
              "name" : "Logs Telegram Information",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 2088.0,
                "y" : 64.0
              },
              "properties" : {
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "message_log" : "The statement pool data dated ${date} totaling ${fragment.count} data has been successfully saved. Logs: ${nel}  ",
                "chat_id" : "-930621813"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "message_log" : {
                  "displayName" : "message_log",
                  "identifiesControllerService" : false,
                  "name" : "message_log",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                },
                "chat_id" : {
                  "displayName" : "chat_id",
                  "identifiesControllerService" : false,
                  "name" : "chat_id",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "c6098d5a-ed8e-37d6-aa42-eb8779ecf258",
                "name" : "Send Message To Telegram",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "identifier" : "263a272c-cc84-3a96-abd5-086cccbbe62a",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "2e52512e-088a-397b-870e-6def1ee398fa",
                "name" : "Send Telegram",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "c4442707-d9c9-3841-9099-490ca24f1289",
                "name" : "Output Logs",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "identifier" : "be73f733-4e16-3e9f-8be1-f8d7f6307e9b",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response" ],
              "source" : {
                "comments" : "",
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "fee430bf-2b48-36f3-bac9-f560b0498dbf",
                "name" : "Resend Telegram Message",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 3560.0,
                "y" : 366.3921813964844
              }, {
                "x" : 3576.0,
                "y" : 358.3921813964844
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "fee430bf-2b48-36f3-bac9-f560b0498dbf",
                "name" : "Resend Telegram Message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "identifier" : "042adb0d-3d4b-36c3-9d88-6ab20f29c092",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Retry" ],
              "source" : {
                "comments" : "",
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "fee430bf-2b48-36f3-bac9-f560b0498dbf",
                "name" : "Resend Telegram Message",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 2934.39208984375,
                "y" : 367.8594970703125
              }, {
                "x" : 2942.39208984375,
                "y" : 335.8594970703125
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "fee430bf-2b48-36f3-bac9-f560b0498dbf",
                "name" : "Resend Telegram Message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "identifier" : "aa4b5538-4ef8-351b-a255-bb7b3201965b",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "No Retry", "Retry" ],
              "source" : {
                "comments" : "",
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "c6098d5a-ed8e-37d6-aa42-eb8779ecf258",
                "name" : "Send Message To Telegram",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 2947.39208984375,
                "y" : 270.8594970703125
              }, {
                "x" : 2942.39208984375,
                "y" : 255.8594970703125
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "c6098d5a-ed8e-37d6-aa42-eb8779ecf258",
                "name" : "Send Message To Telegram",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "identifier" : "a290147f-0831-33eb-af02-4ffd4f9fd507",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "c6098d5a-ed8e-37d6-aa42-eb8779ecf258",
                "name" : "Send Message To Telegram",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "c4442707-d9c9-3841-9099-490ca24f1289",
                "name" : "Output Logs",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "identifier" : "bbc46519-8d50-31fe-b030-39a0ed9863ce",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response" ],
              "source" : {
                "comments" : "",
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "c6098d5a-ed8e-37d6-aa42-eb8779ecf258",
                "name" : "Send Message To Telegram",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 3573.0,
                "y" : 269.3921813964844
              }, {
                "x" : 3576.0,
                "y" : 262.3921813964844
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "fee430bf-2b48-36f3-bac9-f560b0498dbf",
                "name" : "Resend Telegram Message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "identifier" : "b6bd079a-b33c-3a23-b639-1900a8f244a5",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "fee430bf-2b48-36f3-bac9-f560b0498dbf",
                "name" : "Resend Telegram Message",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 3552.0,
                "y" : 310.3921813964844
              }, {
                "x" : 3576.0,
                "y" : 310.3921813964844
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "fee430bf-2b48-36f3-bac9-f560b0498dbf",
                "name" : "Resend Telegram Message",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "identifier" : "3f8cf167-19f0-38f1-9c41-559eec364659",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "No Retry" ],
              "source" : {
                "comments" : "",
                "groupId" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
                "id" : "fee430bf-2b48-36f3-bac9-f560b0498dbf",
                "name" : "Resend Telegram Message",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "identifier" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "identifier" : "2e52512e-088a-397b-870e-6def1ee398fa",
              "name" : "Send Telegram",
              "position" : {
                "x" : 2536.0,
                "y" : 144.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Send Message Telegram",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "identifier" : "c4442707-d9c9-3841-9099-490ca24f1289",
              "name" : "Output Logs",
              "position" : {
                "x" : 2832.0,
                "y" : 440.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 2480.0,
              "y" : 256.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "Original" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.14.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "identifier" : "fee430bf-2b48-36f3-bac9-f560b0498dbf",
              "name" : "Resend Telegram Message",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 3104.0,
                "y" : 232.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "Connection Timeout" : "5 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "disable-http2" : "False",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "${invokehttp.request.url}",
                "Content-Type" : "${mime.type}",
                "max-idle-connections" : "5",
                "Read Timeout" : "15 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "GET",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "false"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Attributes to Send",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Use HTTP ETag",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Basic Authentication Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "Connection Timeout" : {
                  "displayName" : "Connection Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Send Message Body",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Set FlowFile Form Data File Name",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Always Output Response",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Maximum ETag Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "disable-http2" : {
                  "displayName" : "Disable HTTP/2",
                  "identifiesControllerService" : false,
                  "name" : "disable-http2",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Put Response Body In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Use Chunked Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Follow Redirects",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "Remote URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "FlowFile Form Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Max Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Max Length To Put In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Ignore response's content",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Use Digest Authentication",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Add Response Headers to Request",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Basic Authentication Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Include Date Header",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Penalize on \"No Retry\"",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Useragent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "Original" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.14.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "bc9ec3fc-5f5d-35df-861e-922cf5736542",
              "identifier" : "c6098d5a-ed8e-37d6-aa42-eb8779ecf258",
              "name" : "Send Message To Telegram",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 2480.0,
                "y" : 232.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "Connection Timeout" : "5 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "disable-http2" : "False",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "https://api.telegram.org/bot6242604672:AAF_HFD5tWL9q9rJeB1jRYbfjbBHpb67TEA/sendMessage?chat_id=${chat_id}&text=${message_log}",
                "Content-Type" : "${mime.type}",
                "max-idle-connections" : "5",
                "Read Timeout" : "15 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "POST",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "false"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Attributes to Send",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Use HTTP ETag",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Basic Authentication Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "Connection Timeout" : {
                  "displayName" : "Connection Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Send Message Body",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Set FlowFile Form Data File Name",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Always Output Response",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Maximum ETag Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "disable-http2" : {
                  "displayName" : "Disable HTTP/2",
                  "identifiesControllerService" : false,
                  "name" : "disable-http2",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Put Response Body In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Use Chunked Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Follow Redirects",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "Remote URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "FlowFile Form Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Max Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Max Length To Put In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Ignore response's content",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Use Digest Authentication",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Add Response Headers to Request",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Basic Authentication Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Include Date Header",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Penalize on \"No Retry\"",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Useragent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "537ad63d-f422-3f3a-8c59-7bc07e35a810",
                "id" : "5a52ad16-fc14-33f9-864d-c60c69a6fa1e",
                "name" : "Send Message",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "537ad63d-f422-3f3a-8c59-7bc07e35a810",
              "identifier" : "7877a4bb-b036-39c4-9e11-41a3df8905d5",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "537ad63d-f422-3f3a-8c59-7bc07e35a810",
                "id" : "eef94416-cdb2-3265-af75-ae5b0d678e6a",
                "name" : "Logs Telegram Information",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "537ad63d-f422-3f3a-8c59-7bc07e35a810",
                "id" : "eef94416-cdb2-3265-af75-ae5b0d678e6a",
                "name" : "Logs Telegram Information",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "537ad63d-f422-3f3a-8c59-7bc07e35a810",
              "identifier" : "1f412adb-787f-3f0f-8122-00bc557ab27f",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "537ad63d-f422-3f3a-8c59-7bc07e35a810",
                "id" : "7b7d6998-0355-353d-89db-6776c3471b53",
                "name" : "Daily Statement Pool To S3",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "identifier" : "537ad63d-f422-3f3a-8c59-7bc07e35a810",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "537ad63d-f422-3f3a-8c59-7bc07e35a810",
              "identifier" : "7b7d6998-0355-353d-89db-6776c3471b53",
              "name" : "Daily Statement Pool To S3",
              "position" : {
                "x" : 2144.0,
                "y" : -48.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Statement Pool to S3",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "537ad63d-f422-3f3a-8c59-7bc07e35a810",
              "identifier" : "5a52ad16-fc14-33f9-864d-c60c69a6fa1e",
              "name" : "Send Message",
              "position" : {
                "x" : 2144.0,
                "y" : 232.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : 2936.0,
              "y" : 16.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.14.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "537ad63d-f422-3f3a-8c59-7bc07e35a810",
              "identifier" : "eef94416-cdb2-3265-af75-ae5b0d678e6a",
              "name" : "Logs Telegram Information",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 2088.0,
                "y" : 48.0
              },
              "properties" : {
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "message_log" : "The statement pool data dated ${date} totaling ${fragment.count} data has been successfully saved into s3, the file size saved is ${fileSize} byte atau ${filesize}. Logs: ${nel}",
                "chat_id" : "-930621813"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "message_log" : {
                  "displayName" : "message_log",
                  "identifiesControllerService" : false,
                  "name" : "message_log",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                },
                "chat_id" : {
                  "displayName" : "chat_id",
                  "identifiesControllerService" : false,
                  "name" : "chat_id",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          } ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.14.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "PRIMARY",
            "groupIdentifier" : "f595d40c-cab5-3624-90a3-1c9f69d3c104",
            "identifier" : "9812f170-ed80-3185-b3c8-c9542f8be622",
            "name" : "Testing",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2496.0,
              "y" : 64.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "File Size" : "0B",
              "message_log" : "Ini dari NiFi",
              "Batch Size" : "1",
              "Unique FlowFiles" : "false",
              "Data Format" : "Text",
              "chat_id" : "-930621813"
            },
            "propertyDescriptors" : {
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "File Size" : {
                "displayName" : "File Size",
                "identifiesControllerService" : false,
                "name" : "File Size",
                "sensitive" : false
              },
              "mime-type" : {
                "displayName" : "Mime Type",
                "identifiesControllerService" : false,
                "name" : "mime-type",
                "sensitive" : false
              },
              "generate-ff-custom-text" : {
                "displayName" : "Custom Text",
                "identifiesControllerService" : false,
                "name" : "generate-ff-custom-text",
                "sensitive" : false
              },
              "message_log" : {
                "displayName" : "message_log",
                "identifiesControllerService" : false,
                "name" : "message_log",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Unique FlowFiles" : {
                "displayName" : "Unique FlowFiles",
                "identifiesControllerService" : false,
                "name" : "Unique FlowFiles",
                "sensitive" : false
              },
              "Data Format" : {
                "displayName" : "Data Format",
                "identifiesControllerService" : false,
                "name" : "Data Format",
                "sensitive" : false
              },
              "chat_id" : {
                "displayName" : "chat_id",
                "identifiesControllerService" : false,
                "name" : "chat_id",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "No Retry", "Original" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.14.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "ca153205-5378-3e62-9d9f-ced8917d905c",
          "name" : "GetDataDailyStatementPool",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 592.0,
            "y" : 48.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "30 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "true",
            "etag-max-cache-size" : "10MB",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "${pool_service}",
            "Content-Type" : "${mime.type}",
            "max-idle-connections" : "5",
            "Read Timeout" : "30 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "token" : "${token}",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "true",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Set FlowFile Form Data File Name",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "Disable HTTP/2",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "FlowFile Form Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "token" : {
              "displayName" : "token",
              "identifiesControllerService" : false,
              "name" : "token",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Useragent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.14.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "d5c10dd4-8275-34b6-b90b-e60aa4610390",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 592.0,
            "y" : 618.3431396484375
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-aws-nar",
            "group" : "org.apache.nifi",
            "version" : "1.14.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "40e3530c-da72-30e5-a30a-6c28bc1156bf",
          "name" : "Backup Data To S3",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -360.0,
            "y" : 440.0
          },
          "properties" : {
            "FullControl User List" : "${s3.permissions.full.users}",
            "Owner" : "${s3.owner}",
            "s3-object-remove-tags-prefix" : "false",
            "Multipart Upload Max Age Threshold" : "7 days",
            "canned-acl" : "${s3.permissions.cannedacl}",
            "Signer Override" : "Default Signature",
            "Write ACL User List" : "${s3.permissions.writeacl.users}",
            "server-side-encryption" : "None",
            "Read ACL User List" : "${s3.permissions.readacl.users}",
            "Storage Class" : "Standard",
            "Multipart Part Size" : "5 GB",
            "use-chunked-encoding" : "true",
            "Object Key" : "${folder_name_s3}/${filename}",
            "Multipart Threshold" : "5 GB",
            "Bucket" : "${s3_bucket}",
            "Multipart Upload AgeOff Interval" : "60 min",
            "use-path-style-access" : "false",
            "Write Permission User List" : "${s3.permissions.write.users}",
            "Communications Timeout" : "30 secs",
            "Region" : "ap-southeast-1",
            "Read Permission User List" : "${s3.permissions.read.users}",
            "s3-temporary-directory-multipart" : "${java.io.tmpdir}"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "FullControl User List" : {
              "displayName" : "FullControl User List",
              "identifiesControllerService" : false,
              "name" : "FullControl User List",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Access Key" : {
              "displayName" : "Access Key ID",
              "identifiesControllerService" : false,
              "name" : "Access Key",
              "sensitive" : true
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Cache Control" : {
              "displayName" : "Cache Control",
              "identifiesControllerService" : false,
              "name" : "Cache Control",
              "sensitive" : false
            },
            "s3-object-remove-tags-prefix" : {
              "displayName" : "Remove Tag Prefix",
              "identifiesControllerService" : false,
              "name" : "s3-object-remove-tags-prefix",
              "sensitive" : false
            },
            "Endpoint Override URL" : {
              "displayName" : "Endpoint Override URL",
              "identifiesControllerService" : false,
              "name" : "Endpoint Override URL",
              "sensitive" : false
            },
            "Multipart Upload Max Age Threshold" : {
              "displayName" : "Multipart Upload Max Age Threshold",
              "identifiesControllerService" : false,
              "name" : "Multipart Upload Max Age Threshold",
              "sensitive" : false
            },
            "canned-acl" : {
              "displayName" : "Canned ACL",
              "identifiesControllerService" : false,
              "name" : "canned-acl",
              "sensitive" : false
            },
            "Signer Override" : {
              "displayName" : "Signer Override",
              "identifiesControllerService" : false,
              "name" : "Signer Override",
              "sensitive" : false
            },
            "proxy-user-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-user-password",
              "sensitive" : true
            },
            "Content Type" : {
              "displayName" : "Content Type",
              "identifiesControllerService" : false,
              "name" : "Content Type",
              "sensitive" : false
            },
            "Secret Key" : {
              "displayName" : "Secret Access Key",
              "identifiesControllerService" : false,
              "name" : "Secret Key",
              "sensitive" : true
            },
            "Write ACL User List" : {
              "displayName" : "Write ACL User List",
              "identifiesControllerService" : false,
              "name" : "Write ACL User List",
              "sensitive" : false
            },
            "server-side-encryption" : {
              "displayName" : "Server Side Encryption",
              "identifiesControllerService" : false,
              "name" : "server-side-encryption",
              "sensitive" : false
            },
            "Read ACL User List" : {
              "displayName" : "Read ACL User List",
              "identifiesControllerService" : false,
              "name" : "Read ACL User List",
              "sensitive" : false
            },
            "encryption-service" : {
              "displayName" : "Encryption Service",
              "identifiesControllerService" : true,
              "name" : "encryption-service",
              "sensitive" : false
            },
            "Content Disposition" : {
              "displayName" : "Content Disposition",
              "identifiesControllerService" : false,
              "name" : "Content Disposition",
              "sensitive" : false
            },
            "Storage Class" : {
              "displayName" : "Storage Class",
              "identifiesControllerService" : false,
              "name" : "Storage Class",
              "sensitive" : false
            },
            "Multipart Part Size" : {
              "displayName" : "Multipart Part Size",
              "identifiesControllerService" : false,
              "name" : "Multipart Part Size",
              "sensitive" : false
            },
            "use-chunked-encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "use-chunked-encoding",
              "sensitive" : false
            },
            "Object Key" : {
              "displayName" : "Object Key",
              "identifiesControllerService" : false,
              "name" : "Object Key",
              "sensitive" : false
            },
            "AWS Credentials Provider service" : {
              "displayName" : "AWS Credentials Provider service",
              "identifiesControllerService" : true,
              "name" : "AWS Credentials Provider service",
              "sensitive" : false
            },
            "Multipart Threshold" : {
              "displayName" : "Multipart Threshold",
              "identifiesControllerService" : false,
              "name" : "Multipart Threshold",
              "sensitive" : false
            },
            "s3-object-tags-prefix" : {
              "displayName" : "Object Tags Prefix",
              "identifiesControllerService" : false,
              "name" : "s3-object-tags-prefix",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Bucket" : {
              "displayName" : "Bucket",
              "identifiesControllerService" : false,
              "name" : "Bucket",
              "sensitive" : false
            },
            "Multipart Upload AgeOff Interval" : {
              "displayName" : "Multipart Upload AgeOff Interval",
              "identifiesControllerService" : false,
              "name" : "Multipart Upload AgeOff Interval",
              "sensitive" : false
            },
            "use-path-style-access" : {
              "displayName" : "Use Path Style Access",
              "identifiesControllerService" : false,
              "name" : "use-path-style-access",
              "sensitive" : false
            },
            "Write Permission User List" : {
              "displayName" : "Write Permission User List",
              "identifiesControllerService" : false,
              "name" : "Write Permission User List",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "Credentials File" : {
              "displayName" : "Credentials File",
              "identifiesControllerService" : false,
              "name" : "Credentials File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Region" : {
              "displayName" : "Region",
              "identifiesControllerService" : false,
              "name" : "Region",
              "sensitive" : false
            },
            "Read Permission User List" : {
              "displayName" : "Read Permission User List",
              "identifiesControllerService" : false,
              "name" : "Read Permission User List",
              "sensitive" : false
            },
            "Expiration Time Rule" : {
              "displayName" : "Expiration Time Rule",
              "identifiesControllerService" : false,
              "name" : "Expiration Time Rule",
              "sensitive" : false
            },
            "proxy-user-name" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-user-name",
              "sensitive" : false
            },
            "Proxy Host Port" : {
              "displayName" : "Proxy Host Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Host Port",
              "sensitive" : false
            },
            "s3-temporary-directory-multipart" : {
              "displayName" : "Temporary Directory Multipart State",
              "identifiesControllerService" : false,
              "name" : "s3-temporary-directory-multipart",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.14.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "ae750634-dd61-396e-bb7e-1828ae7bc0de",
          "name" : "ConvertJsonToParquet",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 48.0,
            "y" : 40.0
          },
          "properties" : {
            "record-writer" : "48ccd997-5ffd-3c73-b60f-5b7ecbcf97fd",
            "record-reader" : "c70cebba-aef6-3cbf-ba49-1470315c7a95",
            "include-zero-record-flowfiles" : "true"
          },
          "propertyDescriptors" : {
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.14.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "d3ee8754-ce04-37c8-80b0-ba3508b2b688",
          "name" : "DailyStatementPool",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 320.0,
            "y" : -144.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "table_schema_destination" : "public",
            "table_destination" : "daily_statement_pool",
            "s3_bucket" : "pool-data-staging",
            "token" : "eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjpbIlJPTEVfVVNFUiJdLCJzdWIiOiJ3YWZpLWJlYmFzIiwiaWF0IjoxNjY3MDI0OTc5LCJleHAiOjE3NTM0MjQ5Nzl9.0BkaTtAMjdjvwv-oVhpjXBZ-g0RmF1D8yonwthvt9P1g2ms8BaN7_6BMcXnDI4aRmlG8qeWYawloMKfbYSBlAQ",
            "File Size" : "0B",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "folder_name_s3" : "data-pool",
            "Data Format" : "Text",
            "pool_service" : "https://api.infini4d.com/statement/getDailyStatement"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "table_schema_destination" : {
              "displayName" : "table_schema_destination",
              "identifiesControllerService" : false,
              "name" : "table_schema_destination",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "table_destination" : {
              "displayName" : "table_destination",
              "identifiesControllerService" : false,
              "name" : "table_destination",
              "sensitive" : false
            },
            "s3_bucket" : {
              "displayName" : "s3_bucket",
              "identifiesControllerService" : false,
              "name" : "s3_bucket",
              "sensitive" : false
            },
            "token" : {
              "displayName" : "token",
              "identifiesControllerService" : false,
              "name" : "token",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "folder_name_s3" : {
              "displayName" : "folder_name_s3",
              "identifiesControllerService" : false,
              "name" : "folder_name_s3",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            },
            "pool_service" : {
              "displayName" : "pool_service",
              "identifiesControllerService" : false,
              "name" : "pool_service",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 0 18 ? * * *",
          "schedulingStrategy" : "CRON_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.14.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "7f2ee62a-6d1e-3b1b-9f6d-d9108f436265",
          "name" : "PutDataToStagingPool",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 48.0,
            "y" : 432.0
          },
          "properties" : {
            "put-db-record-allow-multiple-statements" : "false",
            "table-schema-cache-size" : "100",
            "put-db-record-schema-name" : "${table_schema_destination}",
            "put-db-record-quoted-table-identifiers" : "false",
            "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
            "put-db-record-translate-field-names" : "true",
            "put-db-record-dcbp-service" : "63b84b03-1e3a-39bf-a094-4daeb99587d6",
            "put-db-record-query-timeout" : "0 seconds",
            "rollback-on-failure" : "false",
            "put-db-record-statement-type" : "INSERT",
            "db-type" : "PostgreSQL",
            "put-db-record-quoted-identifiers" : "false",
            "put-db-record-table-name" : "${table_destination}",
            "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
            "put-db-record-max-batch-size" : "0",
            "put-db-record-record-reader" : "c70cebba-aef6-3cbf-ba49-1470315c7a95"
          },
          "propertyDescriptors" : {
            "put-db-record-allow-multiple-statements" : {
              "displayName" : "Allow Multiple SQL Statements",
              "identifiesControllerService" : false,
              "name" : "put-db-record-allow-multiple-statements",
              "sensitive" : false
            },
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "put-db-record-schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-schema-name",
              "sensitive" : false
            },
            "put-db-record-field-containing-sql" : {
              "displayName" : "Field Containing SQL",
              "identifiesControllerService" : false,
              "name" : "put-db-record-field-containing-sql",
              "sensitive" : false
            },
            "put-db-record-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-table-identifiers",
              "sensitive" : false
            },
            "Statement Type Record Path" : {
              "displayName" : "Statement Type Record Path",
              "identifiesControllerService" : false,
              "name" : "Statement Type Record Path",
              "sensitive" : false
            },
            "put-db-record-unmatched-column-behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-column-behavior",
              "sensitive" : false
            },
            "put-db-record-catalog-name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-catalog-name",
              "sensitive" : false
            },
            "put-db-record-translate-field-names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "put-db-record-translate-field-names",
              "sensitive" : false
            },
            "put-db-record-query-timeout" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "put-db-record-query-timeout",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            },
            "put-db-record-statement-type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "put-db-record-statement-type",
              "sensitive" : false
            },
            "db-type" : {
              "displayName" : "Database Type",
              "identifiesControllerService" : false,
              "name" : "db-type",
              "sensitive" : false
            },
            "put-db-record-update-keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "put-db-record-update-keys",
              "sensitive" : false
            },
            "put-db-record-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-identifiers",
              "sensitive" : false
            },
            "put-db-record-table-name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-table-name",
              "sensitive" : false
            },
            "put-db-record-unmatched-field-behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-field-behavior",
              "sensitive" : false
            },
            "put-db-record-max-batch-size" : {
              "displayName" : "Maximum Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-db-record-max-batch-size",
              "sensitive" : false
            },
            "Data Record Path" : {
              "displayName" : "Data Record Path",
              "identifiesControllerService" : false,
              "name" : "Data Record Path",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.14.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "f55accf9-b0e7-38bb-8b69-354f887debc5",
          "name" : "Validasi Last Log Data",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 640.0,
            "y" : 440.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "Validasi Jumlah Data" : "${fragment.count:ge(${fragment.index:plus(2)})}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "Validasi Jumlah Data" : {
              "displayName" : "Validasi Jumlah Data",
              "identifiesControllerService" : false,
              "name" : "Validasi Jumlah Data",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.14.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "6724cf90-6d95-3865-8980-7a8d35b6a956",
          "name" : "ConvertJSONToSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 592.0,
            "y" : 258.3431396484375
          },
          "properties" : {
            "table-schema-cache-size" : "100",
            "Table Name" : "${table_destination}",
            "jts-sql-param-attr-prefix" : "sql",
            "Schema Name" : "${table_schema_destination}",
            "Unmatched Field Behavior" : "Ignore Unmatched Fields",
            "Unmatched Column Behavior" : "Fail on Unmatched Columns",
            "jts-quoted-identifiers" : "false",
            "jts-quoted-table-identifiers" : "false",
            "JDBC Connection Pool" : "63b84b03-1e3a-39bf-a094-4daeb99587d6",
            "Translate Field Names" : "true",
            "Statement Type" : "INSERT"
          },
          "propertyDescriptors" : {
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Unmatched Field Behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Field Behavior",
              "sensitive" : false
            },
            "Unmatched Column Behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Column Behavior",
              "sensitive" : false
            },
            "jts-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-identifiers",
              "sensitive" : false
            },
            "jts-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-table-identifiers",
              "sensitive" : false
            },
            "Catalog Name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "Catalog Name",
              "sensitive" : false
            },
            "Update Keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "Update Keys",
              "sensitive" : false
            },
            "Translate Field Names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "Translate Field Names",
              "sensitive" : false
            },
            "jts-sql-param-attr-prefix" : {
              "displayName" : "SQL Parameter Attribute Prefix",
              "identifiesControllerService" : false,
              "name" : "jts-sql-param-attr-prefix",
              "sensitive" : false
            },
            "Statement Type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "Statement Type",
              "sensitive" : false
            },
            "Schema Name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "Schema Name",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.14.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "de1cf8ac-71ae-3d64-a4b5-fcdd417e4898",
          "identifier" : "ae225f5f-3e4d-3129-9302-c4b82b8b049b",
          "name" : "Set Filename",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 48.0,
            "y" : 256.0
          },
          "properties" : {
            "filename" : "PoolStatement${now():toNumber():format('yyyy-MM-dd')}.parquet",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "filesize" : "${fileSize:divide(1048576)} MB"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "filesize" : {
              "displayName" : "filesize",
              "identifiesControllerService" : false,
              "name" : "filesize",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}